*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.gem
*.hi
*.hp
*.o
*.prof
*.rbc
.HTF/
.cabal-sandbox/
.hpc
.hsenv
.rvmrc
.stack-work/
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/lib/Text_Pandoc_C.so
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
cabal-dev
cabal.project.local
cabal.sandbox.config
dist
dist-*
